Package: gobstones
Version: 1.5.3
Architecture: all
Maintainer: Nazareno Castro<nazarenomartincastro@gmail.com>
Installed-Size: 6000
Depends: python, python-qt4
Priority: optional
Homepage: http://www.gobstones.org/
Description: IDE basado en python para el uso del lenguaje de programacion Gobstones.
